################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ScopedVSTransient/ScopedVSTransient/obj
